 *{
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
} 
 
.days-container {
  display: flex;
  justify-content: ;
}

.flex1
{
  display: grid;
  place-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
} 

.container {
  background-color: white;
  padding: 5px 98px 15px 80px;
  border: 2px solid white;
  /* flex-direction: column;  */
  margin-bottom: 15px;
  width: 100%;
  /* display: flex; */
}

header {
  font-size: 25px;
  text-align: center;
}

input[type="text"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 6px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #cabbe9;
}

.button-container {
  margin-left: 380px;
  /* text-align: right; */
}

input[type="submit"],
input[type="reset"] {
  font-size: 15px;
  border: 1px solid;
  margin: 5px;
  padding: 4px;
  background-color: greenyellow;
  border-radius: 4px;
}

input[type="reset"].cancel {
  background-color: red;
}

.anchorContainer {
  margin-left: 450px;
} 

a {
  display: inline-block;
  background: #69c;
  color: #fff;
  padding: 5px 10px;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 5px;
  }

  .button-container {
    margin-left: 0;
    text-align: center;
  }

  input[type="submit"],
  input[type="reset"] {
    display: block;
    margin: 10px auto;
  }

  .anchorContainer {
    margin-left: 0;
    text-align: center;
  }
}

/* for screens 576px and below */
@media only screen and (max-width: 576px) {
  input[type="text"],
  input[type="file"],
  select,
  textarea {
    font-size: 14px;
  }

  header {
    font-size: 20px;
  }

  input[type="submit"],
  input[type="reset"] {
    font-size: 14px;
    padding: 3px;
  }
}